.container-fluid {
    padding-top: 20px;
}

.container {
    margin-top: 20px;
}

.table {
    text-transform: capitalize;
}

.scrollable-dropdown {
    max-height: 200px;
    overflow-y: scroll; 
}

.overlay {
    height: 80vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay p {
    text-align: center;
}

.overlay img {
    height: 100px;
    width: 100px;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {  
        transform: rotate(360deg);
    } 
}

.col-sm-12{
    margin-top: 10px;
}

.row {
    text-align: right;
    align-items: center;
}

.pagination-dropdown {
    min-width: 98px;
}